.menuItem {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  border: 1px solid #9b8d8d;
  border-radius: 8px;

  box-shadow: 10px 10px 10px #00000055;

  margin: 20px 0px;
  padding: 1rem;
}
.menuInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

.priceInfo {
  text-align: right;
  margin-top: 10px;
}

.category {
  display: none;
}
